$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$shelves-width: 1200px;
$shelves-max-width: $shelves-width;
$shelves-columns: 12;
$shelves-margin: 0px;
$shelves-gutter: 0px;
$shelves-tablet-breakpoint: 1023px;
$shelves-mobile-breakpoint: 480px;
$rfs-breakpoint: 1025px;

$amarelo: #FD9827;
$roxo: #660099;