@import 'reset.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import 'shelves.scss';
@import 'shelves-grid.scss';
@import "~rfs/scss.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~slick-carousel/slick/slick";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

@font-face {
    font-family: 'officinaseritcbold';
    src: url('../fonts/officinaseritc-bold-webfont.woff2') format('woff2'),
    url('../fonts/officinaseritc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #333333;
    font-weight: 400;
}

.row {
    @include row($max-width: 1200px, $margin: 0px);
}


section {
    @include fl;
    width: 100%
}

.content-hidden {
    @include fl;
    width: 100%;
    overflow: hidden;
}

.box-center {
    text-align: center
}

.text-uppercase {
    text-transform: uppercase;
}

.sub-title {
    color: $amarelo;
    @include rfs(14);
    line-height: 20px;
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    @extend .title;
}

.box-flex {
    @include box-flex;

}

.flex-center {
    align-items: center;
}

.title {
    @include rfs(36);
    line-height: 43px;
    font-family: 'officinaseritcbold';
}

.header {
    @include box-flex;
    height: 80px;
    @include flex-center;
    background: #F7F7F7;

}

.box-form {
    padding: 40px 0;

    h2 {
        margin: 15px 0;
    }

    .desc {
        @include rfs(14);
        line-height: 24px;
        margin: 20px 0 0;
    }

    .form-download {
        @include fl;
        width: 100%;
        max-width: 380px;

        .title-form {
            @include rfs(14);
            font-family: Roboto;
            font-weight: 700;
            line-height: 23px;
            @include fl;
            width: 100%;
            margin: 30px 0;

        }
    }

}

.progress {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #EEEEEE;
    background-image: linear-gradient(to right, $roxo, $roxo);
    background-repeat: no-repeat;
    transition: background-size .4s ease-in-out;
    background-size: 50% 100%;
}

.number {
    @include rfs(14);
    color: #666666;
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.btn-padrao {
    border-radius: 4px;
    background-color: #FF9900;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-weight: 700;

    i {
        margin-left: 15px;
    }
}

.btn-big {
    height: 60px;
    max-width: 317px;
    @include rfs(20);

    i {
        @include rfs(30);
    }
}

.btn-small {
    height: 45px;
    max-width: 271px;
    @include rfs(16);

    i {
        @include rfs(26);
    }
}

.form-section {
    display: none;
}

.current {
    display: block;
}

.form-padrao {
    position: relative;
    float: left;
    width: 100%;

    .slick-prev {
        display: none !important;
    }

    .slider {
        @include fl;
        width: 100%;
    }

    .relative-form {
        @include fl;
        width: 100%;
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 5px;
        @include fl;
        width: 100%;
        @include rfs(14);
        font-family: Roboto;
        color: #666666;
    }

    input {
        width: 100%;
        height: 45px;
        line-height: 45;
        @include rfs(14);
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        border-radius: 0;
        border: 1px solid #DDDDDD;
        font-family: Roboto;
        padding: 0 10px;
        color: #666666;
        box-sizing: border-box;
    }

    input.parsley-error {
        border-color: red;
    }

    .parsley-custom-error-message {
        @include rfs(14);
        color: red;
        margin-top: 5px;
    }

}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

.form-navigation {
    @include fl;
    width: 100%;
    margin-top: 10px;

    .next {
        background-color: #FF9900;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        color: #fff;
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include rfs(16);
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 40px;
        cursor: pointer;
        border: none;
        max-width: 100%;

        i {
            @include rfs(26);
            margin-left: 20px;
        }
    }

    .btn-padrao {
        @extend .next;
    }
}

.box-download-roxo {
    background: $roxo;
    width: 100%;
    margin-top: 50px;

    .box-flex {
        display: flex;
        align-items: center;
        height: 100%;
        height: 140px;
        justify-content: space-between;
    }

    .title {
        text-align: center;
        color: #fff;
        @include rfs(24);
        line-height: 30px;
        width: 100%;
        max-width: 570px;

    }
}

.box-ebook-download {
    padding: 30px 0;

    .box-flex {
        justify-content: space-between;
        align-items: center;
    }

    .box-text {
        max-width: 370px;
        text-align: right;
        width: 100%;
    }

    .box-imagem {
        width: 100%;
        max-width: 724px;
    }

    .btn-padrao {
        right: 0;
        float: right;
        margin-top: 30px;
    }
}

.aprender {
    background-color: #F7F7F7;
    padding: 80px 0 50px;

    .box-flex {
        display: flex;
    }

    .column-9 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .desc {
        @include rfs(14);
        margin: 40px 0;
        line-height: 23px;
    }

    .column {
        text-align: center;
        margin: 0 15px;
        @include fl;
        width: 100%;
        max-width: 180px;
        min-height: 278px;

        .desc {
            @include rfs(16);
            font-weight: 700;
            padding: 20px 7px;
            line-height: 22px;
            margin: 0;
        }

    }

    .box-round {
        height: 180px;
        width: 180px;
        background-color: rgba(187, 187, 187, 0.2);
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .box-oval {
        height: 140px;
        width: 140px;
        background-color: #FFFFFF;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.solucoes {
    background: $roxo;
    padding: 40px 0;
    color: #fff;

    .title {
        margin-bottom: 30px;
    }

    .desc {
        line-height: 24px;
        @include rfs(14);
        padding-right: 30px;
    }

    .btn-padrao {
        right: 0;
        float: right;
    }
}

.depoimentos {
    padding: 80px 0 100px;

    .title {
        text-align: center;
        margin-bottom: 30px;
    }

    .slick-list {
        overflow: visible;
    }

    .box-round {
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        margin: 0 15px;

        .aspa {
            width: 56px;
            height: 60px;
            position: absolute;
            left: -15px;
            top: -15px;
        }

        .desc {
            color: #333333;
            @include rfs(14);
            line-height: 23px;
            padding: 40px 60px 20px;
            font-style: italic;
        }

        .card-footer {
            border-radius: 0 0 3px 3px;
            background-color: #F7F7F7;
            height: 89px;

            .box-imagem {
                margin-left: 20px;
            }

            .box-flex {
                align-items: center;
                height: 100%;
            }

            .nome {
                @include rfs(14);
                font-weight: 700;
                line-height: 20px;
            }

            .card-text {
                margin-left: 10px;
            }

            .cargo {
                color: #BBBBBB;
                @include rfs(12);
                font-style: italic;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }

    .btn-padrao {
        margin: 0 auto;
        margin-top: 40px;
    }
}

.footer {
    height: 78px;
    background-color: #F7F7F7;

    .box-flex {
        justify-content: space-between;
        height: 78px;
    }

    .copy {
        @include rfs(14);
        font-weight: 700;
        color: #333333;
    }

}

.mobile {
    visibility: hidden;
    display: none;

}

.desktop {
    visibility: visible;
}

.alert {
    padding: 30px 0;

    .rectangle {
        height: 84px;
        width: 380px;
        border: 1px solid #FD9827;
        border-radius: 4px;
        background-color: #FFF0D9;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        right: 30px;
        float: right;
        display: flex;
        align-items: center;
    }

    .desc {
        color: #333333;
        font-family: Roboto;
        @include rfs(14);
        font-weight: 700;
        line-height: 22px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px;
        max-width: 255px;

    }

    .icone-down {
        height: 84px;
        width: 66px;
        border: 1px solid #FD9827;
        transform: scaleX(-1);
        border-radius: 4px 0 0 4px;
        background-color: #FF9900;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        i {
            @include rfs(24);
        }
    }
}

//grid projeto
//mobile
@include screen(280px, 1023px) {
    html {
        font-size: 14px;
    }
    .mobile {
        display: block;
        visibility: visible;
    }
    .desktop {
        display: none;
    }
    .title, h2, h3, h4, h5, h6 {
        line-height: 30px;
    }
    .row {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .alert {
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 95%;

        .desc {
            padding: 0 10px;
            max-width: 100%;
        }

        .icone-down {
            width: 100px;
        }

        .rectangle {
            right: 0;
            width: 100%;
        }
    }
    .aprender {
        padding: 40px 0 50px;

        .desc {
            margin: 20px 0;
        }

        .box-flex {
            flex-wrap: wrap;
        }

        .column-9 {
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .column {
            max-width: initial;
            width: auto;
            display: flex;
            text-align: left;
            flex-wrap: wrap;
            min-height: 142px;
            margin: 0;
            align-items: center;

            .desc {
                margin-left: 15px;
                max-width: 131px;
                width: auto;
            }
        }

        .box-round {
            width: 120px;
            height: 120px;

        }

        .box-oval {
            width: 92px;
            height: 92px;
        }

        .mobile {
            display: flex;
        }

        .btn-padrao {
            margin-top: 30px;
        }
    }
    .footer {
        height: auto;
        padding: 40px 0 130px;

        .box-flex {
            flex-wrap: wrap;
            text-align: center;
            height: auto;
        }

        .logo-rodape {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .solucoes {
        .desc {
            padding-right: 0;
        }

        .btn-padrao {
            height: 45px;
            max-width: 271px;
            margin: 0 auto;
            @include rfs(16);
            margin-top: 30px;
            float: none;
        }
    }
    .depoimentos {
        padding: 30px 0 50px;

        .box-round {
            margin: 0 10px;

            .aspa {
                width: 35px;
                height: 31px;
                left: -10px;
                top: -10px;
            }

            .desc {
                padding: 30px 20px 20px;
            }

            .card-footer {
                .box-imagem {
                    margin-left: 15px;
                }
            }
        }
    }
    .btn-small {
        margin: 0 auto;
    }
    .column-3 {
        text-align: center;
        width: 100%;
    }
    .box-ebook-download {
        .btn-padrao {
            float: initial;
            margin: 0 auto;
            margin-top: 30px;
            right: auto;
        }

        .box-text {
            text-align: center;
            max-width: 100%;
        }

        .box-flex {
            flex-wrap: wrap;
        }
    }
    .box-download-roxo {
        margin-top: 0;
        padding: 20px 0px;

        .btn-padrao {
            height: 45px;
            max-width: 271px;
            margin: 0 auto;
            @include rfs(16);
            margin-top: 20px;

            i {
                @include rfs(26);
            }
        }

        .box-flex {
            flex-wrap: wrap;
            height: auto;
        }

        .title {
            max-width: 100%;
        }
    }
    .form-padrao {
        label {
            text-align: left;
        }

        .parsley-custom-error-message {
            text-align: left;
        }
    }
    .box-form {
        .form-download {
            max-width: 100%;
        }

        .column-4 {
            position: relative;
        }

        .desc {
            padding-right: 0;
            text-align: left;
            line-height: 20px;
            margin: 30px 0 0;
            width: 100%;
            max-width: 185px;
        }

        .column-5 {
            text-align: center;
        }

        .box-center {
            max-width: 145px;
            position: absolute;
            right: -65px;
            top: 50%;
            margin-top: 140px;
            width: 100%;
        }
    }
}

//tablet
@include screen(1023px, 1024px) {
    .aprender {
        .column {
            width: 160px;
            min-height: 290px;
        }

        .box-oval {
            height: 120px;
            width: 120px;
        }

        .box-round {
            height: 160px;
            width: 160px;
        }

        .column {
            margin: 0 5px;
        }
    }
    .row {
        padding: 0 20px;
    }
}
